/* General Reset */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

/* Color Variables using the DRY(Don't Repeat Yourself) Principle */

:root {
  --primary-color: #0bb280;
  --secondary-color: #0a2540;
  --accent-color: #bffcea;
  --text-color: #000000;
  --background-color: #fff;
}

 /* Links */
a {
	font-size: clamp(0.875rem, 1.5vw, 1rem);
  color: var(--primary-color);
  transition: all 0.3s ease;
}

/* Headings */
h1{
    font-size: clamp(2rem, calc(4vw + 1rem), 3rem);
    margin: 3% 0;
}

h2{
    font-size: clamp(1.5rem, calc(3vw + 1rem), 2rem);
    margin: 3% 0;
	
}
h3{
    font-size: clamp(1.5rem, calc(1vw + 1rem), 1rem);
    margin: 5% 0;
	text-align: center;
}

/* Paragraph */
p {
  font-size: clamp(0.875rem, 1.5vw, 1rem);
  line-height: 1.5;
  color: var(--text-color);
  margin-bottom: 2rem;
}
#auth-container{
	content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.4)),url(images/login_background.jpg);
	  background-position: center;
      background-size: cover;
      z-index: 0;
      /* Optimize rendering */
      will-change: transform;
      transform: translateZ(0);
    /* height: 100%;
	width: 100%;
	
	
	background-size: cover;
	position: absolute; */
}

/* Form box */
.form-box
{
    width: 380px;
	height: 900px;
	position: relative;
	margin: 2% auto;
	background: rgba(255, 255, 255, 0.786);
	padding: 10px;
    overflow: hidden;
}
.toggle-button-box
{
	width: 220px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
	background-color: rgb(255, 255, 255);
}
.toggle-button
{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	position: relative;
}
#button
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: var(--primary-color);
	border-radius: 30px;
	transition: .3s;
}
.input-group-login
{
	top: 200px;
	position: absolute;
	width: 280px;
	transition: .3s;
}
.input-group-register
{
    top: 120px;
	position: absolute;
	width: 280px;
	transition: .3s;
}
.input-field
{
	width: 100%;
	padding: 10px 10px;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid var(--text-color);
	background: transparent;
}
#login
{
	left:50px;
}
#register
{
	left: 450px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color: var(--text-color);
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}
#login input
{
	color: var(--text-color);
	font-size: 18px;
}

#register input
{
	color:var(--primary-color);
	font-size: 16px;
}
.submit-button
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 10px;
	background: var(--primary-color);
	border: 0;
	outline: none;
	border-radius: 30px;
}
